<p id="notice"><%= notice %></p>

<h1>Models</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Description</th>
      <th>Years of production</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.includes('brand').order('brands.name','models.name').each do |model| %>
      <tr>
        <td><%= model.brand.name %></td>
        <td><%= model.name %></td>
        <td><%= model.description %></td>
        <td><%= model.years_of_production %></td>
        <td><%= link_to 'Show', model %></td>
        <td><%= link_to 'Edit', edit_model_path(model) %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', new_model_path %>
