<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @model.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @model.description %>
</p>

<p>
  <strong>Years of production:</strong>
  <%= @model.years_of_production %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
