<div class="row-fluid">
	<div class="col-md-3 specialization no-float">
		<h3 class="text-center">Категории</h3>
		<%= render 'shared/menu' %>
	</div>
	<div class="col-md-6 no-float">
		<h3 class="text-center">Заявки</h3>
		<% @tasks.each do |t| %>
		<div class="task-item">
			<div class="row">
				<div class = "col-md-10">
					<div class="row col-md-12">
					<%= link_to("Заявка №#{t.id}",task_path(t.id)) %>
					<% if t.contractor != nil %>
							<strong class="inwork">в работе
								<span class="glyphicon glyphicon-ok"></span>
							</strong>
					<% end %>
					</div>	
				</div>
				
				<div class = "col-md-2 text-right">
					<div class="task-price"><%= "#{t.price}р."%></div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-10">
				<div class="client-img">
					<%= image_tag(t.client.photo.url(:thumb),size: "50x50") %>
				</div>
				<div class="client-name">
					<%= link_to("#{t.client.surname} #{t.client.name[0]}.", client_path(t.client)) %>
				</div>
				<div class="about">
					<%= t.info[0..150]%>
					<% if t.info.size >= 150 %>
						<%= link_to("... подробнее",task_path(t)) %>
					<% else %>
						<%= link_to(" Подробнее",task_path(t)) %>
					<% end %>
				</div>	
			</div>
			<div class="row col-md-2 text-right">
			 <div>
			 	<%= link_to("#{t.brand.name} #{t.model.name}", model_path(t.model.id)) %>
			 	</div>
			 <div class="task-date">
			 	<%= "#{t.date_start.strftime("%d-%m %H:%M")}" %>
			 </div>
			</div>
			</div>			
		</div>
		<% end %>
	</div>
	<div class="col-md-3 top-list">
		<h3 class="text-center">ТОП-10 лучших исполнителей</h3>
		<%= render"shared/top_list" %>
	</div>
</div>
<div class="row"></div>
