<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
          <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
          <br>
          <%= f.password_field :password, placeholder: "Пароль", class: "form-control" %>
          <br>
          <%= f.password_field :password_confirmation, placeholder: "Повторите пароль", class: "form-control" %>
    
                                
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
