<%= form_for(contractor) do |f| %>
  <% if contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
<div class="container-fluid">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="dark-grey">Контактные данные</h3>
        
        <%= f.file_field :photo %>
        
        <div class="form-group col-lg-4">
          <%= f.label :Фамилия %>
          <%= f.text_field :surname, class: "form-control" %>
        </div>
        <div class="form-group col-lg-4">
          <%= f.label :Имя %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group col-lg-4">
          <%= f.label :Отчество %>
          <%= f.text_field :patronymic, class: "form-control"%>
        </div>
        
        <div class="form-group col-lg-12">
            <%= f.label :Адрес %>
            <%= f.text_field :address, class: "form-control" %>
        </div>
        
        <div class="form-group col-lg-6">
          <%= f.label :Контактный_номер %>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
                          
      </div>
    
      <div class="col-md-6">
        <h3 class="dark-grey">Информация о себе</h3>
        <p>Как можно подробнее расскажите о себе: стаж работы, примеры работ, гарантии на работу.</p>
        <%= f.text_area :info, rows: "5", class: "form-control" %>
      </div>
    </div>
</div>
<div class="container-fluid">
  <h3 class="text-center">Ваша специализация</h3>
  <br>
  <%= render "shared/services" %>

  <div class="actions text-center">
    <%= f.submit 'Сохранить ' %>
  </div>
</div>
<% end %>
