= form_tag user_sessions_path, :method => :post do
  .form-group.col-lg-12
    = text_field_tag :email, '',:class => 'form-control'
  .form-group.col-md-12
    = password_field_tag :password, '',:class => 'form-control'
  .form-group.col-md-12
    = check_box_tag :remember, params[:remember], true
    = label_tag :remember
  .actions
    = submit_tag "Login", class: 'btn btn-lg btn-primary btn-block btn-signin'
