<!DOCTYPE html>
<html>
  <head>
    <title>BaseApp5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'car.ico' %>
  </head>

  <body>
  <% if current_user %>  
    <% if @current_role == "admin" %>
      <%= render "shared/admin_bar" %>
      <%= yield %>
    <% else %>
      <%= render "shared/navbar" %>
      <%= yield %>
    <% end %>
  <% else %>
    <%= render "shared/start_navbar" %>
    <%= yield %>
  <% end %>
    <div id="nav">
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
  </body>
  <div class="footer">
        <p class="text-center">&copy; RepairYourCar 2017</p>
  </div>
</html>
