<!DOCTYPE html>
<html>
  <head>
    <title>BaseApp5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <div id="nav">
      <% if current_user and current_user.roles.map{|x| x.name}.include?("admin")%>
        <%= link_to('Клиенты', :controller => :clients,
           :action => :index) %> <br> 
        <%= link_to('Исполнители', :controller => :contractors,
           :action => :index) %> <br> 
        <%= link_to('Марки авто', :controller => :brands,
           :action => :index) %><br> 
        <%= link_to('Модели авто', :controller => :models,
           :action => :index) %> 

      <% elsif current_user and current_user.roles.map{|x| x.name}.include?("client") %>
        <%= link_to('Стать исполнителем', :controller => :contractors,
           :action => :new) %>
      <% elsif current_user and current_user.roles.map{|x| x.name}.include?("contractor") %>
      <%= link_to('Стать заказчиком', :controller => :clients,
           :action => :new) %>  
      <% elsif current_user and current_user.roles.size == 0 %>
        <%= link_to('Стать исполнителем', :controller => :contractors,
           :action => :new) %>
        <%= link_to('Стать заказчиком', :controller => :clients,
           :action => :new) %>      
      <% else %>
        <%= link_to "Register", new_user_path %> |  
        <%= link_to "Login", :login %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>

  </body>
</html>
